<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value="packages" />
    <add key="automatic" value="False" />
  </config>
  <packageSources>
    <add key="LocalDevFeed" value="packages" />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
