<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value=".\packages\" />
    <add key="automatic" value="False" />
  </config>
  <packageSources>
    <add key="LocalDevFeed" value="d:/Projects.OWN/LocalDevFeed" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>

  <packageSourceMapping>
    <!-- local packages -->
    <packageSource key="LocalDevFeed">
      <!-- Adjust prefixes to match your org -->
      <package pattern="PolyPersist.*" />
      <package pattern="ServiceKit.*" />
    </packageSource>

    <!-- Public packages -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>

  </packageSourceMapping>
</configuration>

